{% extends "blog/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <img style="object-fit: cover; max-height: 300px; display: block; width: 100%; margin: auto;" src="{{MEDIA_URL}}{{object.images.url}}" alt="post">
      <h2 style="margin-top: 1rem;" class="article-title">{{ object.title }}</h2>
      <div class="article-metadata">
        <small class="text-muted">{{ object.creation_date|date:"F d, Y" }}</small>
      </div>
      <p class="article-content">{{ object.content|safe }}</p>
      {% for tag in object.taggit.all %}
            <a href="{% url 'posts_by_tag' tag.slug %}">&nbsp;#{{tag.name}}</a>
          {% endfor %}
          </div>
    </div>
  </article>
{% endblock content %}